<div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold mb-6 text-gray-800">
    {{ isEditMode ? 'Edit Business Location' : 'Add Business Location' }}
  </h2>

  <form class="space-y-6" (ngSubmit)="onSubmit()">
    <div>
      <label class="block mb-2 font-medium text-gray-700">Name</label>
      <input type="text" [(ngModel)]="location.name" name="name" placeholder="Enter location name"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <div>
      <label class="block mb-2 font-medium text-gray-700">City</label>
      <input type="text" [(ngModel)]="location.city" name="city" placeholder="Enter city"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <div>
      <label class="block mb-2 font-medium text-gray-700">Zipcode</label>
      <input type="text" [(ngModel)]="location.zip_code" name="zip_code" placeholder="Enter zipcode"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <div>
      <label class="block mb-2 font-medium text-gray-700">Country</label>
      <input type="text" [(ngModel)]="location.country" name="country" placeholder="Enter country"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <div>
      <label class="block mb-2 font-medium text-gray-700">Email</label>
      <input type="email" [(ngModel)]="location.email" name="email" placeholder="Enter email"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>
 <div>
      <label class="block mb-2 font-medium text-gray-700">Mobile</label>
      <input
        type="text"
        [(ngModel)]="location.mobile"
        name="mobile"
        placeholder="Enter mobile number"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500"
      />
    </div>
    <div>
      <label class="block mb-2 font-medium text-gray-700">State</label>
      <input type="text" [(ngModel)]="location.state" name="state" placeholder="Enter state name"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <div>
      <label class="block mb-2 font-medium text-gray-700">Landmark</label>
      <input type="text" [(ngModel)]="location.landmark" name="landmark" placeholder="Enter landmark"
        class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" />
    </div>

    <button type="submit"
      class="w-full bg-green-600 text-white font-medium py-2 rounded hover:bg-green-700 transition duration-200">
      {{ isEditMode ? 'Update Location' : 'Save Location' }}
    </button>
  </form>
</div>
