<app-navbar></app-navbar>

<div class="flex">
  <!-- Sidebar (permanent visible) -->
  <div
    id="drawer-navigation"
    class="w-64 h-screen p-4 overflow-y-auto bg-red-700 text-white"
    tabindex="-1"
    aria-labelledby="drawer-navigation-label"
  >
    <h5
      id="drawer-navigation-label"
      class="text-base font-semibold text-white uppercase"
    >
      Menu
    </h5>

    <div class="py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <!-- Dashboard -->
        <li>
          <a
            href="#"
            class="flex items-center p-2 text-white rounded-lg hover:bg-red-800 group"
          >
            <i class="fas fa-tachometer-alt w-5 h-5"></i>
            <span class="ms-3">Dashboard</span>
          </a>
        </li>

        <!-- User Management -->
        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-example"
            data-collapse-toggle="dropdown-example"
          >
            <i class="fas fa-users w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >User Management</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-example" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
              >
                <i class="fas fa-user mr-2"></i>User
              </a>
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
              >
                <i class="fas fa-user-tag mr-2"></i>Role
              </a>
            </li>
          </ul>
        </li>

        <!-- Contacts -->
        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-contact"
            data-collapse-toggle="dropdown-contact"
          >
            <i class="fas fa-address-book w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Contacts</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-contact" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                [routerLink]="['/AddContacts']"
                routerLinkActive="bg-red-900"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
              >
                <i class="fas fa-truck mr-2"></i>Suppliers
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/AddContacts']"
                routerLinkActive="bg-red-900"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
              >
                <i class="fas fa-user-friends mr-2"></i>Customers
              </a>
            </li>
             <li>
              <a
                [routerLink]="['/contact_list']"
                routerLinkActive="bg-red-900"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
              >
                <i class="fas fa-user-friends mr-2"></i>Contact List
              </a>
            </li>
          </ul>
        </li>

        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-products"
            data-collapse-toggle="dropdown-products"
          >
            <i class="fas fa-box w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Products</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-products" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
           [routerLink]="['product_list']"
                
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>List Products</a
              >
            </li>
            <li>
              <a
                [routerLink]="['AddProducts']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Add Products</a
              >
            </li>
            <li>
              <a
              [routerLink]="['Variations']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-code-branch mr-2"></i>Variations</a
              >
            </li>
            <li>
              <a
              [routerLink]="['Units']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-balance-scale mr-2"></i>Units</a
              >
            </li>
            <li>
              <a
                  [routerLink]="['Categories']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-folder mr-2"></i>Categories</a
              >
            </li>
            <li>
              <a
                [routerLink]="['Brands']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-copyright mr-2"></i>Brands</a
              >
            </li>
            <li>
              <a
                [routerLink]="['Warranties']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-shield-alt mr-2"></i>Warranties</a
              >
            </li>
          </ul>
        </li>


        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-purchase"
            data-collapse-toggle="dropdown-purchase"
          >
            <i class="fas fa-shopping-cart w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Purchases</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-purchase" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
            [routerLink]="['Purchase_list']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>List Purchase</a
              >
            </li>
            <li>
              <a
            [routerLink]="['Purchases']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Add Purchase</a
              >
            </li>
            <li>
              <a
               [routerLink]="['PurchaseReturn']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-undo mr-2"></i>List Purchase Return</a
              >
            </li>
          </ul>
        </li>


        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-sell"
            data-collapse-toggle="dropdown-sell"
          >
            <i class="fas fa-cash-register w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Sell</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-sell" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>All Sales</a
              >
            </li>
            <li>
              <a
                           [routerLink]="['POS']"

                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>POS</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-desktop mr-2"></i>List POS</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-file-alt mr-2"></i>Add Draft</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list-alt mr-2"></i>List Draft</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-undo-alt mr-2"></i>List Sell Return</a
              >
            </li>
            <li>
              <a
                [routerLink]="['Discounts']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-percent mr-2"></i>Discounts</a
              >
            </li>
          </ul>
        </li>

        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="stock"
            data-collapse-toggle="stock"
          >
            <i class="fas fa-exchange-alt w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Stock Transfer</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="stock" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                 [routerLink]="['stockTransfer']"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Add Stock Transfer</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>List Stock Transfer</a
              >
            </li>
          </ul>
        </li>

        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="stock-adj"
            data-collapse-toggle="stock-adj"
          >
            <i class="fas fa-sliders-h w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Stock Adjustment</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="stock-adj" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                               [routerLink]="['stockadjustments']"

                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Add Stock Adjustment</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>List Stock Adjustment</a
              >
            </li>
          </ul>
        </li>

        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="dropdown-reports"
            data-collapse-toggle="dropdown-reports"
          >
            <i class="fas fa-chart-line w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Reports</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="dropdown-reports" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-money-bill-wave mr-2"></i>Profits/Loss
                Reports</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-shopping-basket mr-2"></i>Purchase and
                Sales</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-receipt mr-2"></i>Tax Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-handshake mr-2"></i>Supplier and Customer
                Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-folder mr-2"></i>Categories</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-boxes mr-2"></i>Stocks Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-adjust mr-2"></i>Stock Adjustment Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-shopping-cart mr-2"></i>Product Purchase
                Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-store mr-2"></i>Product Sell Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-credit-card mr-2"></i>Purchase Payment
                Report</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-money-check mr-2"></i>Sell Payment Report</a
              >
            </li>
          </ul>
        </li>

        <li>
          <button
            type="button"
            class="flex items-center w-full p-2 text-base text-white transition duration-75 rounded-lg group hover:bg-red-800"
            aria-controls="business"
            data-collapse-toggle="business"
          >
            <i class="fas fa-building w-5 h-5"></i>
            <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
              >Business</span
            >
            <i class="fas fa-chevron-down w-3 h-3"></i>
          </button>
          <ul id="business" class="hidden py-2 space-y-2 bg-red-800">
            <li>
              <a
            [routerLink]="['businessLocation']"

                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Add Business</a
              >
            </li>
            <li>
              
              <a
                          [routerLink]="['location_list']"

                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-list mr-2"></i>List Business</a
              >
            </li>

             <li>
              <a
            [routerLink]="['taxRate']"

                class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-red-900"
                ><i class="fas fa-plus-circle mr-2"></i>Tax Rate</a
              >
            </li>
          </ul>
        </li>

       

      </ul>


    </div>
  </div>

  <!-- Main Content Area -->
  <div class="flex-1 p-6 bg-gray-50">
    <router-outlet></router-outlet>
  </div>
</div>
